body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.banner {
    font-family: 'Russo One', sans-serif;
}

.banner .title {
    font-size: 3rem;
    white-space: nowrap;
}

.banner .title .circle {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    line-height: 60px;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    text-align: center;
    line-height: 76px;
    position: relative;
}

.banner .title .circle::after {
    position: absolute;
    content: "TM";
    font-size: .5rem;
    top: -16px;
    left: 47px;
}

@media (min-width: 576px) {
    .banner .title {
        font-size: 4rem;
    }

    .banner .title .circle {
        height: 5rem;
        width: 5rem;
        line-height: 60px;
        -moz-border-radius: 3rem;
        border-radius: 3rem;
        line-height: 94px;
    }

    .banner .title .circle::after {
        font-size: .7rem;
        top: -19px;
        left: 58px;
    }
}

@media (min-width: 768px) {
    .banner .title {
        font-size: 5rem;
    }

    .banner .title .circle {
        height: 6rem;
        width: 6rem;
        line-height: 60px;
        -moz-border-radius: 4rem;
        border-radius: 4rem;
        line-height: 112px;
    }

    .banner .title .circle::after {
        font-size: .9rem;
        top: -24px;
        left: 69px;
    }
}

@media (min-width: 992px) {
    .banner .title {
        font-size: 6rem;
    }

    .banner .title .circle {
        height: 7rem;
        width: 7rem;
        line-height: 60px;
        -moz-border-radius: 5rem;
        border-radius: 5rem;
        line-height: 128px;
    }

    .banner .title .circle::after {
        font-size: 1rem;
        top: -28px;
        left: 80px;
    }
}

.movie .movie-desc {
    padding-top: 24px;
}

.movie .movie-desc.collapse:not(.show) {
    display: block !important;
    height: 24px;
    overflow: hidden;
}

.movie .movie-desc .card-text {
    margin-top: -24px;
    text-overflow: ellipsis;
}

.movie .movie-desc.collapse:not(.show) .card-text {
    overflow: hidden;
    white-space: nowrap;
}

footer {
    min-height: 300px;

}